<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Qizhen Zhang (Irene)
              </h1>
                <p>I am a first year machine learning PhD student at the <a href="https://www.ox.ac.uk/"> University of Oxford </a>, where I work on reinforcement learing and multi-agent systems. My advisor is <a href="https://www.jakobfoerster.com/"> Jakob Foerster</a>.
              </p>
              <p>
                Prior to my PhD, I built large language models with the wonderful people at <a href="https://cohere.ai/"> Cohere</a>, and wrote my Master's thesis on cooperative multi-agent RL at the <a href="https://www.utoronto.ca/"> University of Toronto </a> and the <a href="https://vectorinstitute.ai/"> Vector Institute</a>.
              </p>
              <p>
                I obtained my Bachelor's at <a href="https://www.mcgill.ca/"> McGill University</a>, while spending time at <a href="https://mila.quebec/en/"> Mila</a>. In a previous life, I wanted to become a doctor (the useful ones) and studied biochemistry for my first two years at McGill.
              </p>
              </p>
                Send me puppy videos at qizhen [dot] zhang <span>  🐕  </span> jesus [dot] ox [dot] ac [dot] uk
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:qizhen.zhang@jesus.ox.ac.uk"> Email</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/irenezhang30"> Tweets </a> &nbsp;/&nbsp;
                <a href="https://github.com/irenezhang30"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=RbjPWpEAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://drive.google.com/file/d/1PKbrc48SIW_Ma8iBnLptR4A4HE3btQDK/view?usp=sharing"> CV </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:90%;max-width:90%" alt="profile photo" src="images/icml.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Highlighted Work</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.talk %}
              <a href="{{post.talk}}">talk</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>



	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
	      <p> I was a teaching assistant for the following courses.
	      </p>
            </td>
          </tr>
        </tbody></table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
	      <img style="width:85%; max-width:85%" alt="cs" src="images/uoft.png">
            </td>
            <td width="75%" valign="center">
              <p> CSC311: Introduction to Machine Learning
              </p>
              <p> CSC413/2516: Neural Networks and Deep Learning
              </p>
              <p> CSC384: Introduction to Artificial Intelligence
              </p>
            </td>
          </tr>
        </tbody></table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Template from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

