<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jia Wan
              </h1>
              <p>I am currently at the University of Oxford studying statistics and AI on a <a href="https://www.rhodeshouse.ox.ac.uk/scholarships/the-rhodes-scholarship/">Rhodes Scholarship</a>. I am doing my master's with the <a href="https://foersterlab.com/">FLAIR lab</a> where I work on zero-shot coordination problems in multi-agent reinforcement learning with <a href="https://www.jakobfoerster.com/home">Jakob Foerster</a>. I am also a non-residential research fellow with the Regulation, Evaluation, and Governance Lab (<a href="https://reglab.stanford.edu/">RegLab</a>) at Stanford Law School working with <a href="https://dho.stanford.edu/home">Daniel Ho</a> and <a href="https://sites.google.com/site/jacobsgoldin/">Jacob Goldin</a> on algorithmic fairness.
              </p>
              <p>
                Prior to Oxford, I studied mathematics and computer science at Columbia University, where I was fortunate to work with <a href="http://www.columbia.edu/~cs2035/">Clifford Stein</a> and <a href="http://www.columbia.edu/~yf2414/">Yuri Faenza</a> on matching theory. 
              </p>
              <p>
                In my spare time I like (amateurly) writing music with piano, guitar, drums or MIDI keyboard, performing standup comedy, long-distance running, and skateboarding.
              </p>
              </p>
                You can reach me at jia [dot] wan [AT] brasenose [dot] ox [dot] ac [dot] uk.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:jia.wan@bnc.ox.ac.uk"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/jw3479"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://www.dropbox.com/s/0qtbbasf05jclk3/CV.pdf?dl=0"> CV </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:90%;max-width:90%" alt="profile photo" src="images/icml.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Media Features</h2>
              <a href="https://news.cgtn.com/news/2020-12-22/Four-students-from-Chinese-mainland-win-Rhodes-Scholarships-Wqu2Ou1qPC/index.html"> CGTN </a>, <a href="https://www.college.columbia.edu/news/jia-wan-cc-18-seas-20-named-rhodes-china-scholar"> Columbia University </a>
            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.talk %}
              <a href="{{post.talk}}">talk</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>



  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
        <p> I served as teaching assistant for the following graduate-level courses at Columbia University.
        </p>
            </td>
          </tr>
        </tbody></table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td width="75%" valign="center">
              <p> CSOR 4231: Analysis of Algorithms
              </p>
              <p> IEOR 4573: Computational Discrete Optimization
              </p>
            </td>
          </tr>
        </tbody></table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Template from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
